{% load static %}

<div class="navBar">
	<div class="logo">
		<img src="{% static 'images/logo.png' %}" alt="logo" class="logoImg" />
		<p class="logoText">SoundIn</p>
	</div>
	<ul>
		<!-- <Link to="/"> -->
		<li class="active">
			<a href="/categories/{{ uid }}">
				<svg viewBox="0 0 512 512" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M448 463.746h-149.333v-149.333h-85.334v149.333h-149.333v-315.428l192-111.746 192 110.984v316.19z"
						fill="currentColor"></path>
				</svg>
				<br>
				Home
			</a>
		</li>
		<!-- <Link to="/library"> -->
		<li>
			<a href="/library/{{ uid }}">
				<svg viewBox="0 0 512 512" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M291.301 81.778l166.349 373.587-19.301 8.635-166.349-373.587zM64 463.746v-384h21.334v384h-21.334zM192 463.746v-384h21.334v384h-21.334z"
						fill="currentColor"></path>
				</svg>
				<br> 
				Library 
		</li>
		</a>
	</ul>
	<div class="cookies">
		<span>Cookies</span>
		<span>Privacy Policy</span>
	</div>
</div>